<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MvvmData" connectionString="data source=DESKTOP-R0A03M8\SQLEXPRESS;initial catalog=WebMvvm;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>